.header{  
    background-image: linear-gradient(-360deg,rgba(251, 251, 251, 1),rgba(155, 171, 216, 1));
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.header-adocao{
    width: 700px;
    height: auto;
}

.imagem-container {
    width: 200px; /* Defina o tamanho desejado */
    height: 200px; /* Defina o tamanho desejado */
    overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse o tamanho definido */
  }

.foto-animal {
    width: 200px;
    object-fit: cover;
  }

.flex-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 50px;
    justify-content: center;
}

.animal-list{
    margin: 30px;
}

.detalhes-animal{
    display: flex;
    justify-content:space-around;
    border: 1px solid rgba(151, 151, 151, 1);
    border-radius: 20px;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    display: flex;
    justify-content: center;
}

.centralizar{
    display: flex;
    justify-content: center;
}

.margem-pagina{
    padding: 40px;
}

.bloco-animais{
    max-width: 100%;
    overflow-x: auto;
}

.search{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.titulo-superior{
    margin-top: 20px;
}