{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/animais/css/style.css' %}">

  <header class="header" >
    <img src="{% static '/animais/img/header-adocao.png' %}" class="header-adocao" alt="header-adocao"/>
  </header>
  
  <div class="titulo-superior">
   <h1>Animais disponiveis para adoção</h1>
   <a class="centralizar">Lorem ipsum dolor sit amet, consectetur c quam sit amet posuere non magna. Pellentesque leo eros, auctor eget </a>
  </div>

    <form class="search" method="GET" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    
    
  <div class="bloco-animais">
   <ul class= "flex-list" col-sm-3 col-6>
        {% for animal in animais %}
            <li class="animal-list">
                <img src="{{ animal.image.url }}" class ="foto-animal" alt="Imagem do Animal"/>
                <h2>{{ animal.nome }}</h2>
                <!-- Outras informações do animal podem ser exibidas aqui -->
                <p><a href="{% url 'animal_detail' pk=animal.pk %}">Detalhes</a></p> 
            </li>
        {% endfor %}
    </ul>
  </div>
    {% endblock %}