{% extends 'layout.html' %}

{% block content %}
    <h1>API com Flask: desafio Rick and Morty</h1> 
    <p style="font-size: 20px;">
        <div style="font-size: 20px;">
            Desafio desenvolvido por Danieli do N. Dalla Vecchia
        </div>
        <div style="font-size: 16px;">
            Bootcamp Python-Django - Womarkers Code
        </div>
    </p>
    <p style="font-size: 30px;">Clique para acessar as listagens:
    <ul>
        <li><a href="/characters" class="link-dark">Personagens</a></li> 
        <li><a href="/locations" class="link-dark">Localizações</a></li> 
        <li><a href="/episodes" class="link-dark">Episódios</a></li> 
    </ul>
    </p>
    <br>
{% endblock %}