<!DOCTYPE html>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eniac Petz</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
  
  <nav class="navbar">
    <div class="container">
      <img src="{% static '/img/logo.png' %}" class="img-logo" alt="Logo"/>
        <a href="/" class="navbar-brand">ENIAC PETZ</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Página Inicial</a></li>
            <li class="nav-item"><a href="/animais" class="nav-link">Adote</a></li>
            <li class="nav-item"><a href="/voluntarios" class="nav-link">Voluntário</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link">Sobre</a></li>
        </ul>
    </div>
</nav>


{% block content %}
<div class="margem">

</div>
{% endblock %}


<footer>
  
  <div class="container-footer">
  <h3>Quer relatar um problema, tirar duvidas ou dar sugestões?</h3>
  <a>Fale com a gente!</a>
  </div>
   
  <div class="container-button">
  <button class="button">Email</button>
  <button class="button">Whatsapp</button>
  </div>

</footer>
</body>
</html>